<!DOCTYPE html>
<html>
  <head>
    <title>La Tienda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <!-- The header is now in the layout file.    -->
     
    <div style="padding: 20px;">
    <br/>
        <h1> Welcome Admin</h1>
        Log out to go to home page.
        <br/>
    </div>

  </body>
</html>
