<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><strong><%= category.name %></strong></h5>
    <%= category.description %>
    <br/>
  </div>
</div>
<br/>